<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Site-01/public/css/style.css">
    <title>Esqueceu sua Senha</title>
</head>
<body>
    
    <div class="container">
        <div class="info-box">
            <h2>Esqueceu sua Senha</h2>
            <form action="/auth/forgot-password" method="post">
                <input type="email" name="email" placeholder="E-mail" required>
                <button type="submit">Resetar Senha</button>
                <a href="/Site-01/src/views/login.html">Voltar</a>
            </form>
        </div>
    </div>

    <script src="/Site-01/public/js/script.js"></script>
    
</body>
</html>