<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Site-01/public/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="info-box">
            <h2>Login</h2>
            <form action="/auth/login" method="post">
                <input type="text" name="username" placeholder="Nome de Usuario" required>
                <input type="password" name="password" placeholder="Senha" required>
                <button type="submit">Login</button>
                <a href="/Site-01/src/views/signup.html" class="button">Cadastrar</a>
                <a href="/Site-01/src/views/forgotPassword.html" class="button">Recuperar Senha</a>
            </form>
        </div>
    </div>
    <script src="/Site-01/public/js/script.js"></script>
</body>
</html>